/** 
 * @component index.scss
 * @description 全局模态对话框的样式
 * @time 2017-6-21 12:30
 * @author fishYu
 */
@import "../../styles/common/_mixins.scss";
 /**模态样式*/
 .app-modal{
    position: fixed;
    z-index: 99999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
}
/*对话框的样式***/
.dialog-mask-bg{
   background-color: $opacityColor !important; 
 }
 .screen-dialog-content{
     width: calc-rem(580);
     height: calc-rem(420);
     background: $whiteColor;
     border-radius: calc-rem(10);
     padding-top: calc-rem(48);
 }
 .screen-dialog-title{
    width: 100%;
    text-align: center;
    color: $labelColor;
    font-size: calc-rem(34);
 }
 .screen-dialog-message{
    width: 100%;
    text-align: center;
    color: $textColor;
    font-size:calc-rem(32);
    padding: 0 calc-rem(40);
    line-height: calc-rem(40);
    margin-top: calc-rem(85);
 }
 .dialog-message-no-title{
   margin-top: calc-rem(120) !important;
 }
 .screen-dialog-button{
     position: absolute;
     bottom: 0;
     width: 100%;
     height: calc-rem(102);
     text-align: center;
     line-height: calc-rem(102);
     font-size: calc-rem(36);
     color: #ffb100;
     border-top: $commonBorder;
 }

 .screen-dialog-button span{
     display: inline-block;
     width: 50%;
     height: 100%;
     text-align: center;
 }
 .screen-dialog-button span:first-child{
     border-right: $commonBorder;
 }
 /**toast对话框样式*/
 .toast-mask-bg{
   background-color: transparent !important; 
 }
 @mixin common-toast{
     background: $opacityColor;
     padding: calc-rem(45);
     border-radius: calc-rem($borderRadius);
     font-size: calc-rem(34);
    //  height: calc-rem(186);
     color: $whiteColor;
     line-height: calc-rem(48);
     text-align: center;
     white-space: nowrap;
 }
 .toast-dialog-message{
     position: relative;
     width: 100%;
     height: 100%;
 }
 .toast-dialog-container-top{
     top: 27%;
     @include common-toast;
 }
 .toast-dialog-container-center{
     @include common-toast;
     z-index: 1000;
 }
 .toast-dialog-container-bottom{
     bottom: calc-rem(40);
     @include common-toast;
 }
 .toast-dialog-image{
     width: 100%;
     height: calc-rem(100);
     margin-bottom: calc-rem(30);
     background-position: center;
     background-repeat: no-repeat;
     background-size: contain;
 }

/**countdown加载动画样式*/
.countdown-dialog-content{
  width: calc-rem(280);
}
.countdown-spinner {
  margin: calc-rem(50) auto;
  margin-top:  calc-rem(10);
  width: calc-rem(100);
  height: calc-rem(100);
  position: relative;
}
 
.countdown-container1 > div, .countdown-container2 > div, .countdown-container3 > div {
  width: calc-rem(25);
  height: calc-rem(25);
  background-color: $greyColor;
 
  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
 
.countdown-spinner .countdown-spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
 
.countdown-container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
 
.countdown-container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}
 
.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }
 
.countdown-container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
 
.countdown-container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
 
.countdown-container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
 
.countdown-container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
 
.countdown-container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
 
.countdown-container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
 
.countdown-container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
 
.countdown-container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
 
.countdown-container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
 
.countdown-container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
 
.countdown-container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
 
@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}
 
@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/**
 * 加载的样式
 **/
@font-face {
  font-family: 'Glyphicons Halflings';

  src: url($loadingFont1);
  src: url($loadingFont2) format('embedded-opentype'), 
        url($loadingFont3) format('woff2'), 
        url($loadingFont4) format('woff');
        // url($loadingFont5) format('truetype');
        // url($loadingFont6) format('svg');
}

.btn-loading{
    background-color: #f0ad4e;
    border-radius: 0em;
    color: #fff;
    outline: none;
    padding: calc-rem(20) calc-rem(32);
    font-size: calc-rem(36);
    line-height: calc-rem(3);
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #eea236;
    pointer-events: none;
    cursor: not-allowed;
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-refresh:before {
  content: "\e031";
}
.glyphicon-remove:before {
  content: "\e014";
}
.glyphicon-refresh-animate {
  -webkit-animation: spin .7s infinite linear;
  -khtml-animation: spin .7s infinite linear;
  -moz-animation: spin .7s infinite linear;
  -ms-animation: spin .7s infinite linear;
  -o-animation: spin .7s infinite linear;
  animation: spin .7s infinite linear; }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -khtml-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -khtml-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-moz-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -khtml-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -khtml-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-ms-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -khtml-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -khtml-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-o-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -khtml-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -khtml-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -khtml-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -khtml-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }


/*action sheet对话框**/
.action-sheet-bg{
  background-color: rgba(0,0,0,.2) !important; 
}
.action-sheet-mask{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background-color: transparent;
}
.action-sheet-content{
  position: fixed;
  z-index: 3;
  bottom: 0;
  width: 100%;
  height: auto;
  background: #f6f6f6;
  li{
    width: 100%;
    background-color: $whiteColor;
    height: calc-rem(100);
    line-height: calc-rem(100);
    border-bottom: $commonBorder;
    font-size: calc-rem(32);
    text-align: center; 
    color: #666;
  }
  .action-sheet-cancel{
    border: 0;
    color: #FF4C18;
    margin-top: calc-rem(20);
  }
}
.btn-active:active{
    opacity: .8;
}
