@import '../../styles/common/_mixins.scss';

/**
 * @component bank_list.scss
 * @description 支持银行的样式。
 * @time 2017-03-13 12:00
 * @author fishYu
 **/

#report-list-page, #application-list-page{
    background: #f1f1f1;
}
.report-list-title{
    height: calc-rem($headerHeight);
    background: $whiteColor;
    line-height: calc-rem($headerHeight);
    overflow-y: hidden; 
    overflow-x: scroll; 
    width: 100%;
    white-space: nowrap;
    font-size: calc-rem(28);
    -webkit-overflow-scrolling : touch; 
    border-bottom: $commonBorder;
}

.report-list-title li {
    position: relative;
    padding: 0 calc-rem(30);
    height: 100%;
    // min-width: calc-rem(140);  //min-width: calc-rem(140);  有数字的样式
    display: inline-block;
    color: #999;
}

.report-list-title li:after{
    content: attr(data-count);
    position: absolute;
    margin-left: calc-rem(2);
    font-size: calc-rem(20);
    color: #999;
}

.report-list-title .tag-selected{
    color: #333;
    // background: $selectedColor;
    border-bottom: 2px solid #f6a623;
}

/*******************隐藏滚动条样式****************
/* 设置滚动条的样式 */
.report-scroll-hidden::-webkit-scrollbar {
    width: 0;
    display: none;
}
/* 滚动槽 */
.report-scroll-hidden::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0);
    box-shadow: inset 0 0 0px rgba(0,0,0,0);
    border-radius: 0;
}
/* 滚动条滑块 */
.report-scroll-hidden::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: rgba(0,0,0,0);
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0);
    box-shadow: inset 0 0 0px rgba(0,0,0,0);
}

.report-scroll-hidden::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0);
}
/**下拉刷新的容器**/
.report-list-c{
    position: absolute;
    top: calc-rem($headerHeight);
    left: 0;
    height: -webkit-calc(100% - #{calc-rem($headerHeight)});
    height: calc(100% - #{calc-rem($headerHeight)});
    width: 100%;
    overflow-y: auto;
}
.report-list-content{
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
    overflow-y: auto;
    background: #f1f1f1;
    padding-top: calc-rem(20);
}

.report-item{
    // width: 100%;
    height: calc-rem(320);
    background: $whiteColor;
    border-radius: calc-rem(10);
    margin: 0 calc-rem(20) calc-rem(20) calc-rem(20);
    font-size: calc-rem(30);
    padding-left: calc-rem(30);
    .report-item-top{
        width: 100%;
        height: calc-rem(128);
        padding: calc-rem(30) 0;
        box-sizing: border-box;
        border-bottom: $commonBorder;
        .report-item-user-head{
            width: calc-rem(68);
            border-radius: 100%;
        }
        .report-item-user-info{
            display: inline-block;
            width: -webkit-calc(100% - #{calc-rem(68)});
            width: calc(100% - #{calc-rem(68)});
            height: 100%;
            padding-left: calc-rem(20);
            padding-right: calc-rem(30);
            div:first-child{
                height: calc-rem(40);
                font-size: calc-rem(32);
                color: #333;
                span{
                    float: right;
                    font-size: calc-rem(22);
                    padding: calc-rem(6) calc-rem(20);
                    // border: $commonBorder;
                    border-radius: calc-rem(8);
                    color: #999;
                    margin-left: calc-rem(10);
                    box-sizing: border-box;
                }
                /**提现与购物需要*/
                .application-role{
                    border: $commonBorder;
                }
            }
            div:last-child{
                height: calc-rem(28);
                font-size: calc-rem(24);
                line-height: calc-rem(28);
                color: #999;
            }
        }
    }
    .report-item-content{ 
        padding: calc-rem(30) calc-rem(30) calc-rem(30) 0;
        .common-item span{
            float: right;
            // color: #F6A623;
            color: #999;
            font-size: calc-rem(26);
            border: $commonBorder;
            padding: calc-rem(12) calc-rem(20);
            border-radius: calc-rem(8);
            margin-left: calc-rem(10);
            margin-top: calc-rem(-14);
        }
        /**提现与购物**/
        .application-status{
            border: 0 !important;
        }
    }
}
/**提现与购物没有头像的情况*/
.application-no-header{
    width: 100% !important;
}
.shopping-color{
    background: #82A4F3;
    color: $whiteColor !important;
}
.PDL-color{
    background:  #F2C47A;
    color: $whiteColor !important;
}
.CL-color{
    background: #7ED9E6;
    color: $whiteColor !important;
}
.recharge-color{
    background: #B88BE0;
    color: $whiteColor !important;
}
.status-error{
    color: #999 !important;
}

.status-no-error{
    color: #F6A623 !important;
}

.alarm-color{
    background: red;
    color: $whiteColor !important;
}
